html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(218, 187, 147);
  font-family: 'Lato', sans-serif;
  color:#F4F4F4;
}

#title{
  font-size: 4em;
  background: #373737;
  border-color:#373737;
  border-radius:12px;
  margin-left: 10%;
  margin-right:10%;
  text-align: center;
}

#top {
  margin: 0 auto;
  color:#373737;
}

input{
  font-size:1.25em;
  font-family: 'Caveat', cursive;
  
}

#moneyForm{
  width: 600px;
  margin: 0 auto;
  border-width:10px;
  border-style: solid;
  border-color:#373737;
  border-radius:12px;
  padding-bottom:1em;
  padding-left: 1em;
  background:#C0B283;
  outline-offset:10px;
  outline-color:#C0B283;
  outline-width:2em;
}

#moneyForm input[type=submit]{
  background-color: #DCD0C0;
  margin-top: 1em;
  margin-left:500px;
  border-radius:12px;
  border: 2px solid #373737;
  transition-duration: 0.4s;
  
}

#moneyForm input[type=submit]:hover, #getForm input[type=submit]:hover{
  background-color:white;
}

#getForm{
  margin-top:1em;
  margin-left:30%;
}

#getForm input[type=submit]{
  border-radius:12px;
  border: 2px solid #C0B283;
}

form input, form label{
  
  margin-bottom:8px;
}

#yourName{
  padding-top: 2em;
}

#nameField{
  
  text-align:left;
  padding-left: 20px;
}

#methodSelect, #urlField{
  display: none;
}
#namelabel{
  padding-left:0px;
}

input[type=text], input[type=number], input[type=date]{
  border: none;
  border-bottom: 2px solid black;
  background: #C0B283; 
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus{
  outline:none;
}

input[type=number]{
  width: 250px;
}

input[type=date]{
  width:160px;
}

#sortField{
  border-color:#C0B283 ;
  border-radius:12px;
  background-color: #DCD0C0;
  color: #373737;

}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 1em;
  font-size: 2em;
}
#content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#content div {
  width: 400px;
  font-family: 'Caveat Brush', cursive;
  text-align: center;
}

#outerDiv{
  display:flex;
  flex-direction: column;
  margin:1em;
  background:#373737;
  border-radius:12px;
}

#row1{
  display:flex;
  height:2.5em;
}

#iouBox{
  flex-grow:1;
  font-family: 'Bungee Inline', cursive;
  font-size: 2em;
  height: 2em;
  margin: 0;
  margin-top: -0.65em;
  border-radius:12px;
}

#ammountBox{
  flex-grow: 1;
  background: #C0B283;
  padding: 2px;
  padding-top:10px;
  margin:7px;
  justify-content:center;
  border-radius:12px;

}

#whenDiv{
  flex-grow: 1;
  background: #C0B283;
  padding-top:10px;
  margin: 7px;
  border-radius:12px;
}

#whenBox{
  margin-top:-0.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#whenTitle{
  font-size: 0.5em;
  text-align:left;
  padding-left:10px;
  margin:0;
  margin-top: -0.25em;
}

#whyBox{
  text-align: left;
  margin:0;
  background: #C0B283;
  margin: 7px;
  padding-left:10px;
  border-radius:12px;
}

#row3{
  display:flex;
}

#lendDivBox{
  background: #C0B283;
  margin: 7px;
  height:3em;
  border-radius:12px;
}

#lenderBox{
  font-size: 0.5em;
  text-align:left;
  padding-left:10px;
  padding-top:5px;
  margin:0;
}

#debtDivBox{
  background: #C0B283;
  margin: 7px;
  height:3em;
  border-radius:12px;
}
#nameBox{
  margin:5px;
}

#debtorBox{
  font-size: 0.5em;
  text-align:left;
  padding-left:10px;
  padding-top:5px;
  margin:0;
}
#otherNameBox{
  margin:5px;
}

#messages{
  color: #373737;
  text-align:center;
}