html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #c4f3e1;
  font-family: 'Fredericka the Great', cursive;
}

#title{
  font-size: 2em;
  background: white;
  margin-left: 10%;
  margin-right:10%;
  text-align: center;
}

#top {
  margin: 0 auto;
}

form{
  width: 600px;
  margin-left:2%;
  border-style: solid;
  border-color:black;}

form input, form label{
  
  margin-bottom:8px;
}

#yourName{
  padding-top: 2em;
  text-align:left;

}

input[type=text]{
  border: none;
  border-bottom: 2px solid black;
  background: #c4f3e1; 
}

input[type=text]:focus{
  outline:none;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
}

#content div {
  background: aquamarine;
  margin: 10px;
  border-style: solid;
  outline-color: "black" ;
}